<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java Scientific Calculator</title>
    <link rel="stylesheet" th:href="@{/css/calculator.css}">
</head>
<body>
    <h1>Java Scientific Calculator</h1>
    <form method="post" action="/calculate" class="calculator">
        <!-- 결과값 출력 -->
        <div th:id="result-box">
            <input id="expression" name="expression" placeholder="이 곳에 수식을 입력해주세요" th:value="${expression}">

            <input id="result" th:value="${result}" readonly>
            <input type="hidden" name="formattedExpression" value="">
        </div>
        <button type="submit" th:id="calculate-btn">=</button>

        <button type="button" style="height: 80px;" onclick="addToDisplay('abs')">abs</button>
        <button type="button" onclick="addToDisplay('round')">round</button>
        <button type="button" onclick="addToDisplay('floor')">floor</button>
        <button type="button" id="delButton">del</button>
        <button type="reset" onclick="resetState()">AC</button>

        <button type="button" style="height: 80px;" onclick="addToDisplay('log')">log</button>
        <button type="button" onclick="addToDisplay('ln')">ln</button>
        <button type="button" onclick="addToDisplay('e')">e</button>
        <button type="button" onclick="addToDisplay('√')">√</button>
        <button type="button" onclick="addToDisplay('')">random</button> <!--난수-->

        <button type="button" style="height: 80px;" onclick="addToDisplay('-')">(-)</button>
        <button type="button" onclick="addToDisplay('sin')">sin()</button>
        <button type="button" onclick="addToDisplay('cos')">cos()</button>
        <button type="button" onclick="addToDisplay('tan')">tan()</button>
        <button type="button" onclick="addToDisplay('π')">π</button>

        <!-- 숫자, 기본 연산 버튼 -->
        <button type="button" onclick="addToDisplay('7')">7</button>
        <button type="button" onclick="addToDisplay('8')">8</button>
        <button type="button" onclick="addToDisplay('9')">9</button>
        <div style="display: flex; height: 80px">
            <button type="button" onclick="addToDisplay('+')" class="half-btn">+</button>
            <button type="button" onclick="addToDisplay('-')" class="half-btn">-</button>
        </div>
        <div style="display: flex">
            <button type="button" onclick="addToDisplay('*')" class="half-btn">*</button>
            <button type="button" onclick="addToDisplay('/')" class="half-btn">/</button>
        </div>

        <button type="button" style="height: 80px;" onclick="addToDisplay('4')">4</button>
        <button type="button" onclick="addToDisplay('5')">5</button>
        <button type="button" onclick="addToDisplay('6')">6</button>
        <div style="display: flex">
            <button type="button" onclick="addToDisplay('(')" class="half-btn">(</button>
            <button type="button" onclick="addToDisplay(')')" class="half-btn">)</button>
        </div>
        <button type="button" onclick="setOperator('^')">^</button>

        <button type="button" style="height: 80px;" onclick="addToDisplay('1')">1</button>
        <button type="button" onclick="addToDisplay('2')">2</button>
        <button type="button" onclick="addToDisplay('3')">3</button>
        <button type="button" onclick="addToDisplay('0')">0</button>
        <button type="button" onclick="addDecimal()">.</button>

    </form>
    <script th:src="@{/js/calculator.js}"></script>
</body>
</html>
